<template>
  <div>          
    <div>
        <FilterRules />
    </div>
    <div> 
       <el-table  
        v-if="getRules.data.length"
        :data="getRules.data"
        style="width: 100%" 
        :border="true"
        class="table" 
        @sort-change="sortTable" 
        :default-sort="returnDefaultSort"
        v-loading="loadingRulesGetter"
        >
        <el-table-column type="expand" >
          <template slot-scope="props">
            <p>{{ props.row.content }}</p> 
          </template>
        </el-table-column>
        <el-table-column
          label="id"
          prop="id" >
        </el-table-column>
         <el-table-column
          label="title"
          prop="title" >
        </el-table-column>
        <el-table-column
          label="created_at"
          prop="created"
          align="center"
          sortable="custom" >
        </el-table-column>
        <el-table-column
          label="language"
          prop="language"
          align="center">
        </el-table-column>
        <el-table-column
          label="active"
          prop="active"
          align="center"
          > 
          <template slot-scope="{row}">  
          <el-switch  
            :disabled="!$access(['manager', 'admin'])"
            v-model="row.active"
            active-color="#13ce66"
            inactive-color="#ff4949"  
            :active-value="1"
            :inactive-value="0"
            @change="changeActive(row)"
            >
          </el-switch>
          </template>
        </el-table-column>
        <el-table-column 
          align="center"
          label="actions" 
          v-if="$access(['manager', 'admin'])"
          > 
          <template slot-scope="{row}">  
            <el-button  v-if="$access(['manager', 'admin'])" type="primary" icon="el-icon-edit" circle size="small" @click="$refs.ModalRule.open(row)"></el-button>
            <el-button v-if="$access(['admin'])" type="danger" icon="el-icon-delete" circle size="small" @click="openDeleteWindow(row.id)"></el-button>
          </template>
        </el-table-column>
      </el-table>   
      <el-empty v-else description="Правил пока нет"></el-empty>
      <el-pagination
        small
        layout="prev, pager, next"
        :total="getRules.total"
        @current-change="changePage"
        :current-page="+this.$route.query.page"
        :page-size="getRules.pageSize" 
        >
      </el-pagination> 
    </div> 
    <div>
      <el-button v-if="$access(['manager', 'admin'])" type="primary" circle icon="el-icon-plus" size="large" class="button-add-rule" @click="$refs.ModalRule.open()" ></el-button> 
    </div> 
     <ModalRule ref="ModalRule" />
  </div>
</template>

<script>  
import { mapActions, mapGetters } from "vuex"
import FilterRules from "@/components/FiltersRules.vue" 
import ModalRule from "./ModalRule.vue"  

  export default {

    components: {
      FilterRules, ModalRule
    },

    data() {
      return {  
        page: this.$route.query.page || 1,  
      }
    },  

    computed: {
      ...mapGetters("rules", ["getRules", "loadingRulesGetter"]) ,

      returnDefaultSort() { 
        return {prop: this.$route.query.prop, order: this.$route.query.order}
      },

    },

    methods: { 
      ...mapActions("rules", ["fetchRulesAction", "changeActiveAction", "deleteRuleAction", "createRuleAction", "updateRuleAction"]), 

      sortTable(sort) {
        let prop = sort.prop
        let order = sort.order
        this.$router.replace({ query: { ...this.$route.query, prop, order } })
        this.fetchRulesAction(this.$route.query)
      },

      changePage(page) {
        this.$router.replace({ query: { ...this.$route.query, page } })
        this.page = this.$route.query.page  
        this.fetchRulesAction(this.$route.query)
      },

      async changeActive(rule) {    
        try { 
          await this.changeActiveAction({
            id: rule.id,
            active: rule.active
          })
        } catch (e) {
          rule.active = rule.active ? 0 : 1 
        }
      },

      async openDeleteWindow(id) {   
        this.$confirm('Вы уверены, что хотите удалить правило?', 'Предупреждение', {
          confirmButtonText: 'Подтвердить',
          cancelButtonText: 'Отменить',
          type: 'warning' 
        }).then( async () => {  
          await this.deleteRuleAction(id)
          this.$notify({
            title: 'Успешно',
            type: 'success',
            message: 'Правило успешно удалено'
          });
          this.fetchRulesAction()
        }).catch(() => {          
        });
      }, 

      openEditWindow(rule) { 
        const clone = { ...rule };
        this.updateRuleForm = clone 
        this.ruleEditWindow = true
      },  

      async createRule() {
        await this.createRuleAction(this.createRuleForm)
        this.ruleCreateWindow = false 
        this.createRuleForm = {}
        this.fetchRulesAction()
      },

      async updateRule() {  
        await this.updateRuleAction(this.updateRuleForm)
        this.ruleEditWindow = false 
        this.$notify({
            title: 'Успешно',
            type: 'success',
            message: 'Правило успешно изменено'
          });
        this.fetchRulesAction()
      }

    },

    created() {
       this.fetchRulesAction(this.$route.query)  
    },

  }
</script>

<style scoped>

  .button-add-rule { 
    position: fixed;
    z-index: 10; 
    right: 10px;
    bottom: 25px;
  }

  .table {
    margin-bottom: 10px;
  }

</style>
