<template> 
  <el-dialog
    :title="titleDialog"
    :visible.sync="visible" 
    @closed="close()"
    width="50%">
      <el-form ref="ruleFormWindow" :model="form" :rules="rules">   
        <div class="rule-form-row">
          <el-form-item label="Введите название правила" prop="title" >
            <el-input placeholder="Название" v-model="form.title" class="input-form-title"></el-input>
          </el-form-item>  
          <el-form-item label="Выберите язык" prop="language">
          <el-select v-model="form.language" placeholder="Язык" class="select-form-languages">
            <el-option
              v-for="item in languageObj"
              :key="item.value"
              :label="item.label"
              :value="item.value">
            </el-option>
          </el-select>
          </el-form-item> 
          <el-form-item label="Выберите статус" prop="active">   
            <el-switch  
              v-model="form.active"
              active-color="#13ce66"
              inactive-color="#ff4949"  
              :active-value="1"
              :inactive-value="0"
              class="switch-form-active">
            </el-switch> 
          </el-form-item>  
        </div>
        <el-form-item label="Укажите текст правила" prop="content">
          <el-input placeholder="Правило" v-model="form.content" type="textarea" :rows="5"></el-input>
        </el-form-item>    
        <el-button @click="close()">Отмена</el-button>
        <el-button type="primary" @click="submitForm()">{{submitButtonText}}</el-button>  
      </el-form>
  </el-dialog>
</template>

<script>  
import { mapActions } from "vuex" 
import { LANGUAGES, RULE_ACTIVE_STATES } from '@/utils/constans'

  export default { 

    data() {

      const validateTitle = (rule, value, callback) => { 
        if ( !value ) {
          callback(new Error('Пожалуйста введите название'));
        } else {
          if (this.form.title !== '') {
            this.$refs.ruleFormWindow.validateField('checkTitle');
          }
          callback();
        }
      }; 

      const validateContent = (rule, value, callback) => { 
        if ( !value ) {
          callback(new Error('Пожалуйста укажите правило'));
        } else {
          if (this.form.content !== '') {
            this.$refs.ruleFormWindow.validateField('checkContent');
          }
          callback();
        }
      }; 

      const validateLanguage = (rule, value, callback) => { 
        if ( !value ) {
          callback(new Error('Пожалуйста выберите язык'));
        } else {
          if (this.form.language !== '') {
            this.$refs.ruleFormWindow.validateField('checkLanguage');
          }
          callback();
        }
      }; 

      return {  
        visible: false,
        mode: 'create',

        form: {
          id: null,
          title: null,
          content: null,
          language: null,
          active: 1
        }, 

        rules: {
          title: [
            { validator: validateTitle, trigger: 'blur' }
          ],
          content: [
            { validator: validateContent, trigger: 'blur' }
          ],
          language: [
            { validator: validateLanguage, trigger: 'blur' }
          ]
        },  

        languageObj: LANGUAGES, 
        activeObj: RULE_ACTIVE_STATES

      }
    },  

    computed: { 
      titleDialog() { 
        return this.mode === 'create' ? 'Создание правила' : 'Редактирование правила'
      }, 
      submitButtonText() {
        return this.mode === 'create' ? 'Создать' : 'Сохранить'
      }, 
    },

    methods: { 
      ...mapActions("rules", ["fetchRulesAction", "createRuleAction", "updateRuleAction"]),  

      open(row) {  
        this.mode = row ? 'edit' : 'create'   
        if (this.mode === 'edit') {
          this.initForm(row)
        }
        this.visible = true
      },  

      close() {
        this.$refs.ruleFormWindow.resetFields()
        this.resetFields()
        this.visible = false
      },

      resetFields() { 
        this.form.title = null
        this.form.content = null
        this.form.language = null
        this.form.active = 1
        this.form.id = null 
      },

      initForm(row) { 
        this.form.id = row.id ? row.id : null
        this.form.title = row.title ? row.title : null
        this.form.content = row.content ? row.content : null
        this.form.language = row.language ? row.language : null
        this.form.active = row.active ? row.active : null
      },

      async submitForm() {
        this.$refs.ruleFormWindow.validate( async (valid) => { 
          if (valid) {  
            if (this.mode === 'create') { 
              await this.createRuleAction(this.form) 
              this.$notify({
                  title: 'Успешно',
                  type: 'success',
                  message: 'Правило успешно создано'
                });
            } if (this.mode === 'edit') {
              await this.updateRuleAction(this.form)
              this.$notify({
                  title: 'Успешно',
                  type: 'success',
                  message: 'Правило успешно изменено'
                });  
            }
            this.fetchRulesAction() 
            this.close() 
        } 
        });
      },

    },
 
  }
</script>

<style scoped>
 
  .rule-form-row {
    display: flex;
    justify-content: space-between;
  }

  .input-form-title {
    width: 300px;
  }

  .select-form-languages {
    width: 200px;
  }

  .switch-form-active {
    margin-left: 40px;
  }

</style>