<template>
  <div class="box-text">
    <div class="info-text">    
      <h2>Предусмотрены три варианта авторизации на сайте: </h2> 
      <p>
        <b>1) Авторизация обычного пользователя</b><br>
        При данном способе авторизации, данные, предоставленные на сайте, доступны только для чтения<br>
        <b>Данные для входа:</b> <br>
        <b>login:</b> user@mail.ru<br>
        <b>password:</b> user  
      </p>
      <p> 
        <b>2) Авторизация менеджера</b><br>
        При данном способе авторизации, пользователь может добавлять новое правило, изменять активность, полностью
        редактировать правило, но удаление ему не доступно<br>
        <b>Данные для входа</b>: <br>
        <b>login:</b> manager@mail.ru<br>
        <b>password:</b> manager 
      </p>
      <p>
        <b>3) Авторизация администратора</b><br>
        При данном способе авторизации, пользователю доступны все выше перечисленные действия<br>
        <b>Данные для входа:</b> <br>
        <b>login:</b> admin@mail.ru<br>
        <b>password:</b> admin
      </p>
      
      
      <div class="line"></div>
      <b>P.S</b> Валидация по правам на ручки сделана на фронте и беке <b>ADM, обнял)</b> 
   </div> 
  </div>
  
</template>

<script> 

  export default {
    data() {
      return {
      }
    },
  }
</script>

<style scoped> 

  .box-text {
    margin-top: 30px;
    display: flex;
    justify-content: center;
    text-align: center
  }

  .info-text {
    width: 500px;
  }

  .line {
    border: 1px solid #dcdfe6;
    margin: 10px;
  }

</style>
