<template>
  <div class="login-page">
    <div class="login-form"> 
      <div class="login-title">
       <h2>Авторизация</h2>
      </div>
      <el-form :model="ruleForm" status-icon :rules="rules" ref="ruleForm">
         <el-form-item label="Логин" prop="login">
          <el-input type="login" v-model="ruleForm.login" autocomplete="off" class="input-style"></el-input>
        </el-form-item>
        <el-form-item label="Пароль" prop="password">
          <el-input type="password" v-model="ruleForm.password" autocomplete="off" class="input-style"></el-input>
        </el-form-item> 
        <el-form-item>
          <el-button type="primary" @click="login('ruleForm')">Войти</el-button> 
        </el-form-item> 
      </el-form>
   </div> 
  </div>
</template>

<script>
import { mapActions } from 'vuex' 
import router from '@/router'

  export default {
    data() { 
      const validateLogin = (rule, value, callback) => {
        if (value === '') {
          callback(new Error('Пожалуйста введите логин'));
        } else {
          if (this.ruleForm.checkPass !== '') {
            this.$refs.ruleForm.validateField('checkLogin');
          }
          callback();
        }
      }; 
      const validatePassword = (rule, value, callback) => {
        if (value === '') {
          callback(new Error('Пожалуйста введите пароль'));
        } else {
          if (this.ruleForm.checkPass !== '') {
            this.$refs.ruleForm.validateField('checkPassword');
          }
          callback();
        }
      }; 
      return {
        ruleForm: {
          login: '',
          password: '' 
        },
        rules: {
          login: [
            { validator: validateLogin, trigger: 'blur' }
          ], 
          password: [
            { validator: validatePassword, trigger: 'blur' }
          ]
        }
      };
    },
    methods: {
      ...mapActions("users", ["loginAction", "fetchMeAction"]),
      
      login(formName) {
        this.$refs[formName].validate( async (valid) => {
          if (valid) {
            await this.loginAction(this.ruleForm) 
            await this.fetchMeAction()
            router.push('/') 
          }
        });
      } 
    }
  }
  
</script>

<style scoped> 
 
  .login-page { 
    display: flex;
    justify-content: center; 
    width: 100%;
    height: 100%; 
  }

  .login-form {
    display: flex; 
    flex-direction: column;
    justify-content: center;
    align-items: center;   
    width: 400px; 
    margin-top: 150px;
    box-shadow: rgb(0 0 0 / 12%) 0px 2px 4px, rgb(0 0 0 / 4%) 0px 0px 6px;
  }

  .input-style {
    width: 220px;
  }

</style>