<template>
  <div class="filters-form"> 
      <div class="filters-row">
           <div class="filter">
                <span class="filter-title">Выберите дату</span>
                <el-date-picker
                v-model="filters.dates"
                value-format="timestamp"
                type="daterange"
                range-separator="До"
                start-placeholder="Начало"
                end-placeholder="Конец">
                </el-date-picker>
            </div>
            <div class="filter">
                <span class="filter-title">Выберите язык</span>
                <el-select v-model="filters.language" placeholder="Язык">
                <el-option
                    v-for="item in languageObj"
                    :key="item.value"
                    :label="item.label"
                    :value="item.value">
                </el-option>
                </el-select>
            </div>

            <div class="filter">
                <span class="filter-title">Выберите статус</span>
                <el-select v-model="filters.active" placeholder="Статус">
                <el-option
                    v-for="item in activeObj"
                    :key="item.value"
                    :label="item.label"
                    :value="item.value">
                </el-option>
                </el-select>  
            </div>

            <div class="filters-buttons">
                <el-button type="primary" @click="fetchFilteredRules" >Найти</el-button>
                <el-button @click="clearFilters" >Сбросить фильтры</el-button>
            </div> 
      </div> 
  </div> 
</template>

<script>
import { mapActions } from "vuex";  
import { LANGUAGES, RULE_ACTIVE_STATES } from '@/utils/constans'
import moment from "moment"

  export default {
    data() {
      return { 

        filters: {
            dates: this.$route.query.dates || null, 
            active: this.$route.query.active || null,
            language: this.$route.query.language || null
        },
        
        languageObj: LANGUAGES, 
        activeObj: RULE_ACTIVE_STATES

      };
    },

    methods: {
         ...mapActions("rules", ["fetchRulesAction"]), 


        fetchFilteredRules() { 
            const filtersObj = {}
            if (this.filters.dates) {
                filtersObj.dates = this.filters.dates  
                filtersObj.dates[0] = moment(filtersObj.dates[0]).valueOf()
                filtersObj.dates[1] = moment(filtersObj.dates[1]).valueOf() 
            }  if (this.filters.active) {
                filtersObj.active = this.filters.active 
            }  if (this.filters.language) { 
                filtersObj.language = this.filters.language
            } 
            this.$router.replace({ query: { ...filtersObj } })
            this.fetchRulesAction(this.$route.query)
        },

        clearFilters() {  
            const obj = {}
            const prop = this.$route.query.prop
            const order = this.$route.query.order
            if (prop && order) {
                obj.prop = prop
                obj.order = order
            }
            this.$router.replace({ query: obj })
            this.fetchRulesAction(this.$route.query)
            this.filters = {}
        }

    }
  };
</script>

<style scoped>
 
    .filters-form {
        display: flex;
        flex-direction: column; 
        justify-content: center;
        height: 150px; 
    }

    .filters-row{
        margin: 20px;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }

    .filters-buttons {
        margin-top: 26px;
    }

    .filter {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .filter-title {
        margin-bottom: 10px;
    }

</style>