<template>
    <div>  
        <el-menu :default-active="activeIndex" class="navBar" mode="horizontal" @select="handleSelect"> 
            <el-menu-item index="1" @click="changePage('/')">Раздел Правила</el-menu-item>
            <el-menu-item index="2" @click="changePage('/info')">Информация</el-menu-item> 
            <el-menu-item @click="changePage('/login')">Выход</el-menu-item> 
        </el-menu>
        <div class="line"></div>
    </div>
</template>

<script>
import router from '@/router'
import { mapActions } from "vuex";  

  export default {
    data() {
      return {
        activeIndex: '1'
      };
    },
    methods: {
      ...mapActions("users", ["logoutAction"]), 

      async changePage(route) {

          if (route === '/login') {
             await this.logoutAction() 
          } if (route !== this.$route.path) {
            router.push(route)
          } 
      },
      
      handleSelect(pageIndex) {
        this.activeIndex = pageIndex  
      }

    },

    mounted() {
      this.handleSelect(this.$route.meta.index)
    }
  }
</script>

<style scoped>

  .navBar {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

</style>