<template> 
  <div id="app">  
    <NavBar v-if="!$route.meta.login"/>
    <router-view v-if="userRolesGetter || this.$route.meta.login" />
  </div> 
</template>

<script> 
import { mapActions, mapGetters } from 'vuex'
import NavBar from "@/components/NavBar"  

export default {
  data() {
    return {}
  },

  methods: { 
    ...mapActions('users', ['fetchMeAction']), 
  }, 

  computed: { 
    ...mapGetters('users', ['userRolesGetter']), 
  },

  components: {
    NavBar
  },

  mounted() { 
    if (!this.$route.meta.login) {
      this.fetchMeAction()
    }
  }
};
</script>

<style> 

  body {
    font-family: Helvetica Neue, Helvetica, PingFang SC, Hiragino Sans GB, Microsoft YaHei, SimSun, sans-serif;
  }

</style>
